        </div> <!-- End Main Container Div -->
        <footer id="#bottom" class="mainFooter">
            <small class="text-muted">All Rights Reserved to J. Ryan Conklin for the Website.</small>
            <small class="text-muted"><a href="/">Return Home</a> | <a href="#top">Back to top &raquo;</a></small>
        </footer>
    </body>
</html>
