{% include 'header.html.twig' %}
            <div class="pageHead">
                <h2>Welcome to shoeCONNECT</h2>
                <small class="text-muted">An Interactive Shoe Management System by styleTech Inc.</small>
            </div>

            <div class="mainSection row">




            </div>

{% include 'footer.html.twig' %}
