{% include 'header.html.twig' %}
            <div class="pageHead">
                <h2>Welcome to shoeCONNECT</h2>
                <small class="text-muted">An Interactive Shoe Management System by styleTech Inc.</small>
            </div>
            <div class="mainSection">
                {% if stores is not empty %}
                <div class="row">
                    <h4>Available Stores:</h4>
                    <div class="col-sm-3">
                    </div>
                    <div class="list-group col-sm-6">
                        {% for store in stores %}
                        <li class="list-group-item"><a class="list-group-item-action" href="/stores/{{ store.getId }}">{{ store.getName }}</a></li>
                        {% endfor %}
                    </div>
                    <div class="col-sm-3">
                    </div>
                {% else %}
                    <h3>No Stores Quite Yet</h3>
                {% endif %}
                </div>
                <form action="/stores" method="post" class="form-inline add-data">
                    <div class="form-group">
                        <label for="name">Store Name</label>
                        <input id="name" name="name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Add Store</button>
                    </div>
                </form>
                <br>
                <form action="/" method="get">
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Go Home</button>
                    </div>
                </form>
                <hr>
                <form action="/delete_stores" method="post">
                    <div class="form-group">
                        <button class="btn btn-danger" type="submit">Delete All Stores</button>
                    </div>
                </form>
            </div>

{% include 'footer.html.twig' %}
